body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#tabela{
    border: 1px solid #000;
}

table {
  border-collapse: collapse;
}
